carla==0.9.15
cloudpickle==3.0.0
crafter==1.8.3
dm_control==1.0.18
einops
ffmpeg==1.4
flask==3.0.3
gym==0.12.5
imageio==2.34.1
matplotlib==3.8.4
moviepy==1.0.3
msgpack
numpy==1.24.3
networkx==3.1
opencv-python>=4.9,<5.0
pygame>=2.6.1
pyyaml==6.0.1
pyzmq
ruamel.yaml==0.18.6
scikit-image==0.23.2
shapely==1.8.4
tabulate==0.9.0
torch>=2.0.0
torchvision>=0.15.0
typing_extensions==4.5.0
wandb==0.16.6
